<strong>Olá {{deliveryman}}</strong>
<p>Houve um novo cadastro de encomenda para você,confira os detalhes abaixo:</p>
<p>
  <strong>Destinario:</strong>{{recipient_name}}<br/>
  <strong>Endereço:</strong>{{address}}<br/>
  <strong>Produto:</strong>{{product}}<br/>
  <small>O produto já se encontra disponível para retirada.</small>
</p>
